
1- Turning off the lights when no data is received from the sensor. (sequential)
2- Continuously counting the number of people in the house. (sequential)
3- Turning the air conditioning on/off based on data from the temperature sensor.(combinational) (done by @MUSTAFA ACIKGÖZ)
4- Turning off the heating system when the window is opened. (combinational) (done by @MUHAMMED CEMİL ÖĞÜTVEREN)
5- Switching to security mode when no one is at home. (combinational) (done by @MUHAMMET FURKAN UZUN)
6- Automatically turning lights on and off at specified times. (sequential)
7- Controlling the blinds based on sunlight levels and time. (sequential)
